<h2 class="title">Add a new puppy</h2>

<form class="form" action="/new" method="post" enctype="multipart/form-data">
  <label for="name" class="form-item">
    Name: <input type="text" name="name" id="name">
  </label>

  <label for="breed" class="form-item">
    Breed: <input type="text" name="breed" id="breed">
  </label>

  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" id="owner">
  </label>
  <label for="imageURL"> Image URL:
    <input type="text" name="imageURL" id="image" placeholder="Enter an external url or choose a local file">
  </label>

  <label for="UploadImage" class="form-item">
    Upload Image: 
    <input type="file" name="image">
 
  </label>
  

  <input type="submit" value="Submit">
</form>
